<%= form_for(@user) do |f| %>
  <ul>
  <% @user.errors.full_messages.each do |e| %>
    <li><%= e %></li>
  <% end %>
  </ul>
  <%= f.label :Username %><br>
  <%= f.text_field :username, placeholder: "Your Name"%><br>
  <%= f.label :Email %><br>
  <%= f.email_field :email, placeholder: "example@example.com"%><br>
  <%= f.label :Password %><br>
  <%= f.password_field :password%><br><br>

  <%= f.submit %>
  <%= link_to 'Cancel', :back, class: "new_user_button" %>
<% end %>